.preloader-closing {
    animation: closing 0.3s forwards !important;
}
.main-preloader {
    transition: 0.1s;
    animation: showing 0.3s;
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(245, 245, 245, 0.795);
    &__body {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
    }
}
@keyframes showing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes closing {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(43, 43, 43);
    border-color: rgb(43, 43, 43) transparent rgb(43, 43, 43) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
